
/*gost
background-image: linear-gradient(to left top, #ffffff, #c5c0d3, #9283a7, #63497b, #39104e);

student
background-image: linear-gradient(to left top, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);

kompanija
background-image: linear-gradient(to left top, #f7fff8, #bbd6bc, #82ae82, #4b864a, #045f0f);

admin
background-image: linear-gradient(to left top, #fff8f8, #f9c1bf, #ea8b84, #d35448, #b30707);
*/

/* sa glavne strane, treba raspodeliti*/
a:visited{
    color: #17a2b8;
}

.dugmeObavestenjaClick{
    background: linear-gradient(to right, #17a2b8, rgba(23, 162, 184, 0.1));
    background-size: 1000% 1000%;
    -webkit-animation: obavestenjaClickPozadinaAnimacija 5s ease 1;
    -moz-animation: obavestenjaClickPozadinaAnimacija 5s ease 1;
    animation: obavestenjaClickPozadinaAnimacija 5s ease 1;
    animation-fill-mode: forwards;
    color: white!important;
}

.dugmeObavestenjaClick:hover{
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    background: linear-gradient(to right, #17a2b8, rgba(23, 162, 184, 0.1));
    background-size: 1000% 1000%;
    -webkit-animation: obavestenjaClickPozadinaAnimacija 5s ease 1;
    -moz-animation: obavestenjaClickPozadinaAnimacija 5s ease 1;
    animation: obavestenjaClickPozadinaAnimacija 5s ease 1;
    animation-fill-mode: forwards;
}

.stopStart1Animacija{
    animation: 1.6s stopStart1Animacija linear 1;
}
.stopStart2Animacija{
    animation: 1.6s stopStart2Animacija linear 1;
    animation-delay: 0.1s;
}
.stopStart3Animacija{
    animation: 1.6s stopStart3Animacija linear 1;
    animation-delay: 0.2s;
}
.stopStart4Animacija{
    animation: 1.6s stopStart4Animacija linear 1;
    animation-delay: 0.3s;
}
.stopStart5Animacija{
    animation: 1.6s stopStart5Animacija linear 1;
    animation-delay: 0.4s;
}
.stopStartZavrsnaAnimacija{
    animation: 1s stopStartZadnjaAnimacija linear 1;
    animation-delay: 0.6s;
}
#strelicaDrugaVesti{
    webkit-animation: 10s arrowAnimation infinite forwards;
    animation: arrowAnimation 10s linear infinite;
    animation-delay: 0.2s;
}

#strelicaTrecaVesti{
    webkit-animation: 10s arrowAnimation infinite forwards;
    animation: arrowAnimation 10s linear infinite;
    animation-delay: 0.4s;
}

#strelicaCetvrtaVesti{
    webkit-animation: 10s arrowAnimation infinite forwards;
    animation: arrowAnimation 10s linear infinite;
    animation-delay: 0.6s;
}

#strelicaDrugaStatistike{
    webkit-animation: 10s arrowAnimationStatistika infinite forwards;
    animation: arrowAnimationStatistika 10s linear infinite;
    animation-delay: 0.2s;
}

#strelicaTrecaStatistike{
    webkit-animation: 10s arrowAnimationStatistika infinite forwards;
    animation: arrowAnimationStatistika 10s linear infinite;
    animation-delay: 0.4s;
}

#strelicaCetvrtaStatistike{
    webkit-animation: 10s arrowAnimationStatistika infinite forwards;
    animation: arrowAnimationStatistika 10s linear infinite;
    animation-delay: 0.6s;
}

.middle-line-second {
    stroke-dasharray: 2 70;
    stroke-dashoffset: 0;
    -webkit-animation: 1.4s dashAppear linear forwards;
    animation: dashAppear 1.4s linear;
}

#strelicasvgVesti, #strelicasvgStatistike{
    transition: 0.2s;
    float: right;
}

#strelicasvgVesti, #strelicasvgStatistike{
    filter: drop-shadow( 3px 3px 3px #000 );
}

.middle-line-second-animacija {
    -webkit-animation: 1s dash linear forwards;
    animation: dash 1s linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.middle-dot-upper-animacija {
    -webkit-animation: 1s dot linear forwards;
    animation: dotUpper 1s linear;
    animation-delay: 1.4s;
}

.middle-dot-lower-animacija {
    -webkit-animation: 1s dot linear forwards;
    animation: dotLower 1s linear;
    animation-delay: 1.4s;
}


.gornja-meni-linija-animacija {
    -webkit-animation: 1s dashMenuLine linear forwards;
    animation: dashMenuLine 1s linear;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}

.donja-meni-linija-animacija {
    -webkit-animation: 1s dashMenuLine linear forwards;
    animation: dashMenuLine 1s linear;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}

.gornja-meni-linija, .donja-meni-linija{
    -webkit-animation: 1s dashMenuLineRetreat linear forwards;
    animation: dashMenuLineRetreat 1s linear;
}

.gornja-meni-linija, .donja-meni-linija{
    visibility: hidden;
    height: 6px;
}

#svgMenu{
    -webkit-animation: svgMenuShadow .4s linear;
    animation: svgMenuShadow .4s linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.elementDesnoObavestenja{
    filter: drop-shadow( 5px 5px 5px #000 );
}

.linijaPrvaObavestenjaDesno, .linijaDrugaObavestenjaDesno, .linijaTrecaObavestenjaDesno, .linijaCetvrtaObavestenjaDesno, .linijaPetaObavestenjaDesno{
    visibility: hidden;
}

.obavestenjaDesnoAnimacija{
    visibility: hidden;
    transition: 0.2s;
    stroke-dasharray: 0 300;
    stroke-dashoffset: 0;
    -webkit-animation: 2s obavestenjaDesnoGradientAppear cubic-bezier(.01,.45,.78,.56) forwards;
    animation: obavestenjaDesnoGradientAppear 2s cubic-bezier(.01,.45,.78,.56);
    animation-delay: 1.5s;
}

.obavestenja{
    transition: 0.4s;
}

.boxShadow{
    transition: linear 0.4s;
    -webkit-animation: 1.5s boxShadow cubic-bezier(.01,.45,.78,.56) forwards;
    animation: 1.5s boxShadow linear forwards;
    animation-delay: 3s;
}

@keyframes boxShadow{
    0% {
        box-shadow: rgba(0, 73, 54, 0.1) 0px 0px 8px 2px;
    }
    20%{
        box-shadow: rgba(0, 73, 54, 0.2) 0px 0px 12px 4px;
    }
    40%{
        box-shadow: rgba(0, 73, 54, 0.3) 0px 0px 16px 6px;
    }
    60%{
        box-shadow: rgba(0, 73, 54, 0.3) 0px 0px 20px 8px;
    }
    80%{
        box-shadow: rgba(0, 73, 54, 0.3) 0px 0px 24px 10px;
    }
    100% {
        box-shadow: rgba(0, 73, 54, 0.3) 0px 0px 28px 13px;
    }
}

@keyframes obavestenjaDesnoGradientAppear {
    0% {
        visibility: visible;
        stroke-dasharray: 0 300;
    }
    80%{
        stroke-dasharray: 300;
    }
    100% {
        stroke-opacity: 0;
    }
}

@keyframes obavestenjaClickPozadinaAnimacija{
    0% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes stopStart1Animacija{
    0%{
        stop-color: white; 
        stop-opacity: 0.3;
    }

    50%{
        stop-color: #17a2b8; 
        stop-opacity: 0.3;
    }

    100%{
        stop-color: white;
        stop-opacity: 0.5;
    }
}

@keyframes stopStart2Animacija{
    0%{
        stop-color: white; 
        stop-opacity: 0.5;
    }

    50%{
        stop-color: #17a2b8; 
        stop-opacity: 0.6;
    }

    100%{
        stop-color: white;
        stop-opacity: 0.7;
    }
}

@keyframes stopStart3Animacija{
    0%{
        stop-color: white; 
        stop-opacity: 0.7;
    }

    50%{
        stop-color: #17a2b8; 
        stop-opacity: 0.9;
    }

    100%{
        stop-color: white;
        stop-opacity: 0.7;
    }
}

@keyframes stopStart4Animacija{
    0%{
        stop-color: white; 
        stop-opacity: 1;
    }

    50%{
        stop-color: #17a2b8; 
        stop-opacity: 1;
    }

    100%{
        stop-color: white;
        stop-opacity: 1;
    }
}

@keyframes stopStart5Animacija{
    0%{
        stop-color: white; 
        stop-opacity: 1;
    }

    50%{
        stop-color: #17a2b8; 
        stop-opacity: 1;
    }

    80%{
        stop-color: #17a2b8; 
        stop-opacity: 0.7;
    }

    100%{
        stop-color: white;
        stop-opacity: 0.5;
    }
}

@keyframes stopStartPocetnaAnimacija{
    0%{
        stop-color: white; 
        stop-opacity: 1;
    }

    50%{
        stop-color: #17a2b8; 
        stop-opacity: 1;
    }

    100%{
        stop-color: white;
        stop-opacity: 1;
    }
}

@keyframes stopStartSrednjaAnimacija{
    0%{
        stop-color: white; 
        stop-opacity: 1;
    }

    50%{
        stop-color: #17a2b8; 
        stop-opacity: 1;
    }

    100%{
        stop-color: white;
        stop-opacity: 1;
    }
}

@keyframes stopStartZadnjaAnimacija{
    0%{
        stop-color: #17a2b8; 
        stop-opacity: 1;
    }

    50%{
        stop-color: #17a2b8;
        stop-opacity: 1;
    }

    100%{
        stop-color: #17a2b8;
        stop-opacity: 1;
    }
}

@keyframes svgMenuShadow{
    0% {
    }
    100% {
        filter: drop-shadow( 5px 5px 5px #000 );
    }
}

@keyframes dashMenuLineRetreat{
    0% {
        stroke-opacity: 1;
        visibility: visible;
        opacity: 1;
    }
    100% {
        stroke-opacity: 0;
        visibility: hidden;
        stroke-dasharray: 0 630;
        stroke-width: 4;
        opacity: 0;
    }
}

@keyframes dashMenuLine {
    0% {
        stroke-opacity: 1;
        stroke-width: 10;
        stroke-dasharray: 0 630;
    }
    100% {
        stroke-opacity: 1;
        stroke-width: 4;
        stroke-dasharray: 630 630;
    }
}

@keyframes dotUpper{
    50%{
        fill-opacity: 1;
    }

    100%{
        fill-opacity: 0;
        cx: 102;
        cy: -8;
    }
}

@keyframes dotLower{
    50%{
        fill-opacity: 1;
    }

    100%{
        fill-opacity: 0;
        cx: 102;
        cy: 38;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 2 70;
    }
    80%{
        stroke: #17a2b8;
        stroke-dasharray: 70;
    }
    100% {
        stroke-opacity: 0;
    }
}

@keyframes dashAppear {
    0% {
        stroke-opacity: 0;
    }
    30% {
        stroke-opacity: 0;
    }
    100% {
        stroke-opacity: 1;
    }
}

@keyframes arrowAnimation{
    0% {
        fill: #17a2b8;
        fill-opacity:0;
    }
    80% {
        fill: #17a2b8;
        fill-opacity:0;
    }
    90% {
        fill: #17a2b8;
        fill-opacity: 1;
    }
    100% {
        fill: #17a2b8;
        fill-opacity:0;
    }
}

@keyframes arrowAnimationStatistika{
    0% {
        fill: #04443C;
        fill-opacity:0;
    }
    80% {
        fill: #04443C;
        fill-opacity:0;
    }
    90% {
        fill: #04443C;
        fill-opacity: 1;
    }
    100% {
        fill: #04443C;
        fill-opacity:0;
    }
}


/*opste*/


.userInfoInput{
    border: none;
    border-bottom: 2px solid #17a2b8;
    border-radius: 0px;
    webkit-transition: border-color ease-in-out .20s, box-shadow ease-in-out .20s;
    -o-transition: border-color ease-in-out .20s, box-shadow ease-in-out .20s;
    transition: border-color ease-in-out .20s, box-shadow ease-in-out .20s;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.userInfoInput:focus{
    box-shadow: 0px 5px 7px -5px rgba(62, 74, 76, 0.41) !important;
}

.sideMenuDivKlasa{
    text-align: center;
}

.sideMenu-dugme{
    font-size: 1vw;
    color: white;
}

.sideMenu-dugme:visited{
    color: white;
}

.sideMenu-dugme:hover{
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.objavePillsTab{
    padding-bottom: 50px;
    padding-top: 30px;
    font-size: 1.4rem;
}

.objavePillsTab > li {
    padding-right: 20px;
}

.objavePillsTab a{
    color: black;
    transition: 1s ease;
}

.objavePillsTab a:hover{
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(23, 162, 184, 0.4)!important;
    color: black;
}

.nav-pills .nav-link.active{
    color: #fff;
    background-color: #17a2b8;
}

.kontejnerPrikazDivElemenata{
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

/*stil svih dugmica*/

@media (min-width: 1200px){
    [id^=dugme] {
        font-size: 1.2vw;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    [id^=dugme] {
        font-size: 1.5vw;
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    [id^=dugme] {
        font-size: 1.8vw;
    }
}

@media (max-width: 599px){
    [id^=dugme] {
        font-size: 2vw;
    }
}

/*homepage*/

.container{
    width: 100%;
}

#top{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: #7E587E;
    box-shadow: 0 18px 16px -6px #04443c;
    position: relative;
    z-index: 1;
}

/*header*/

#header {
    padding-top: 40px;
    height: 200px;
    padding-bottom: 40px;
    /*margin:0;
    width: 100%;
    
    background-size: cover;*/
}


.logoImg{
    display: block;
    margin: auto;
}

#logo{
    padding-left: 15px;
}


#menu{
    font-family:  Verdana, Geneva, sans-serif;
    font-size: 1.8rem;   
}

.infoTekstHeader{
    font-family: 'Titillium', serif;
    font-size: 45px;
}

.infoTekstParagraph{
    font-family: 'Titillium', serif;
}

#naslov {
    position: relative;
    width: 100%;
    text-align:center;
    font-family:  Verdana, Geneva, sans-serif;
    font-size: 40px;
    color: gray;
    padding-top: 35px;
    padding-right: 0px;
    padding-left: 0px;
}



/* MODALI PRIJAVA/REGISTRACIJA*/


.modal.show .modal-dialog {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
}

/* Prijava modal */

#modal-body-prijava{
    padding-top: 20px;
}

.linijaUModaluZaPrijavu{
    margin-bottom: 2rem;
}

#formaPrijava label:after{
    content: "";
}

#formaPrijava label{
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    top: .75rem;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: text;
    color: #757575;
    text-indent: 5px;
}

.labelActive{
    -webkit-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    transform: translateY(-140%);
    font-weight: 300 !important;
    text-indent: 0px !important;
}

.formaGreskaPoruka{
    color: red;
    font-size: 12px;
}

#modal-dialog-prijava{
    max-width: 540px;
}

.prijava-tekst{
    font-size: 20px;
    font-family:  Verdana, Geneva, sans-serif;
}

.lozinkaDiv{
}

.zaboravljenaLozinkaDiv{
    font-size: 12px;
}

.modalFooterPrijava{
    height: 50px;
    font-family:  Verdana, Geneva, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

/* Registracija modal*/

#modal-dialog-registracija{
    max-width: 540px;
}

/*.close {
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=25);
    opacity: .2;
}*/

#modal-body-registracija {
    padding: 5px;
}

#modal-footer-registracija {
    height:50px;
    font-family:  Verdana, Geneva, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: none;
    padding-top: 0px;
}

.dugmeZatvori{
    background-color: #17a2b8; 
    font-family:  Verdana, Geneva, sans-serif;
    border: none;
    color: white;
    padding: 5px 30px;
    font-size: 12px;
    transition: .6s;
    border-radius: .3rem;
}

.dugmeZatvori:hover{
    background-color: rgba(23, 162, 184, 0.4); 
    font-family:  Verdana, Geneva, sans-serif;
    border: none;
    padding: 5px 30px;
    color: white;
    font-size: 12px;  
}

/*MODAL REGISTRACIJA-SADRZAJ*/

.wrapperZaSlike {
    overflow: hidden;
    border:10px solid white;
}

.dveSlike {
    position: relative;
}

.studentiSlikaOkvir {
    position: absolute;
    margin-left: -12%;
    height: 100%;
    overflow:hidden;
    -ms-transform: skew(-20deg, 0deg);
    -webkit-transform: skew(-20deg, 0deg);
    transform: skew(-20deg, 0deg);
}

.studentiSlika, .kompanijaSlika {
    background-size: 100%;
    background-position: center;
    transition: 1s ease;
}

.studentiSlika:hover, .kompanijaSlika:hover {
    cursor: pointer;
    opacity: 0.7;
    background-size: 105%;
}

.studentiSlika {
    position: absolute;
    height: 100%;
    background-position: -50px;
    -ms-transform: skew(20deg, 0deg);
    -webkit-transform: skew(20deg, 0deg);
    transform: skew(20deg, 0deg);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.studentiBoja {
    background: #1e5a32;
    opacity: .4;
    height: 100%;
    position: absolute;
}

.kompanijaSlikaOkvir {
    height:250px;
    overflow: hidden;
    position: relative;
    background: white;
    right: -50%;
    top: 0;
    width: 70%;
    border-left: 10px white solid;
    -ms-transform: skew(-25deg, 0deg);
    -webkit-transform: skew(-25deg, 0deg);
    transform: skew(-25deg, 0deg);
}

.kompanijaSlika {
    position: absolute;
    height: 100%;
    right: 30%;
    width: 100%;
    background-position: 25px ;
    -ms-transform: skew(25deg, 0deg);
    -webkit-transform: skew(25deg, 0deg);
    transform: skew(25deg, 0deg);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kompanijaBoja {
    background: #0f2d4c;
    opacity: .4;
    height: 100%;
    position: absolute;
}

.modalTekst{
    z-index: 99;
    font-size: 20px;
}


/*drugi red*/

#drugiRed{
    height: 40%;
    width: 100%;
    margin:0;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* vesti front page*/

#middleVesti{
    background-color: white;
    margin: 0px;

    /*    box-shadow: inset 0px 10px 30px black;*/
}

#vestiDugmeDiv{
    padding-left: 0px;
}

@media (max-width: 999px){
    #strelicasvgVesti{
        width: 100px;
        height: 50px;
    }   
}

@media (min-width: 1000px) and (max-width: 1299px){
    #strelicasvgVesti{
        width: 90px;
        height: 90px;
    }   
}

@media (min-width: 1300px) and (max-width: 1500px){
    #strelicasvgVesti{
        width: 100px;
        height: 100px;
    }   
}

@media (min-width: 1500px){
    #strelicasvgVesti{
        width: 120px;
        height: 130px;
    }   
}

@media (min-width: 1100px) {
    #middleVesti {
        padding-top: 140px;
        padding-bottom: 140px;
    }

}

@media (max-width: 1099px) {
    #middleVesti {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

#vesti{
    align-items: center;
    height: 100%;
}

#kontejnerVesti{
    /*font-size: 1.5vw;*/
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

.vestiNaslov{
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1;
}

.vestiNaslov a:link, .vestiNaslov a:visited{
    color: #04443c;
}

.vestiSplitter{
}

#linijicaLomiPravila11, #linijicaLomiPravila12, #linijicaLomiPravila21, #linijicaLomiPravila22, #linijicaLomiPravila31, #linijicaLomiPravila32{
    overflow: visible;
}

.vestiAutor{
    font-size: 1.2rem;
    font-style: italic;
    float: left;
    text-indent: 5px;
}

.vestiDatum{
    font-size: 1.2rem;
    font-style: italic;
    float: right;
    margin-right: 5px;
}

.vestiMeta{
    padding-top: 20px;
    font-size: 1.2rem;
    min-height: 75px;
}

#vest-prva, #vest-druga, #vest-treca{
    /*box-shadow: 25px 0px 35px -24px rgba(23, 162, 184, 0.7);*/
    padding: 0px;
}

#vestiDiv{
    align-items: center;
    text-align: right;
    font-size: 1.5vw;
    padding-left: 0px;
}

#vestiOutputText{

}

#vestiLinkDiv{

}

[id|=vest]

/*obavestenja front page*/

#middleObavestenja{

}

.middleObavestenjaDonjiSplitterLinija{
    padding-top: 100px;
}

.middleObavestenjaGornjiSplitterLinija{
    padding-bottom: 100px;
}

/*@media (min-width: 1100px) {
    #middleObavestenja {
        padding-top: 80px;
        padding-bottom: 80px;
    }

}

@media (max-width: 1099px) {
    #middleObavestenja {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}*/

#obavestenjaRow{
    align-items: center;
    height: 100%;
}

.piluleZaLilule > li + li {
    margin-top: 20px;
}

.piluleZaLilule{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: block;
    text-align: center;
}

/*.piluleZaLilule a{
    color: black;
    border: 1px solid #17a2b8;
    transition: 1s ease;
}

.piluleZaLilule a:hover{
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(23, 162, 184, 0.2)!important;
    color: black;
}

#piluleLista a:focus{
    background-color: #17a2b8;
    color: white;
}*/
.piluleZaLilule a{
    color: black;
    border: 1px solid #17a2b8;
    transition: 1s ease;
}

.piluleZaLilule a:hover{
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(23, 162, 184, 0.4)!important;
    color: black;
}


#obavestenjaPiluleZaLilule{
    border: 1px solid black;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(0.45, #fff), color-stop(0.55, #fff));
    border-image-slice: 1;
    border-left-width: 0px;
    height: 100vh; 
    max-height: 300px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    box-shadow: inset 0px 0px 30px white;
    position: relative;
}

#obavestenjaPiluleZaLilule::before{
    border: 0.5px solid black;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
}

.obavestenja{
    border: 2px solid black;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(0.45, #fff), color-stop(0.55, #fff));
    border-image-slice: 1;
    border-left-width: 0px;
    height: 80vh;
    max-height: 250px;
    width: 46vw;
    position: relative;
}

.obavestenja::before{
    border: 1px solid black;
    height: 100%;
    content: '';
    position: absolute;
}

.unutrasnjiDivObavestenja{
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.obavestenjaStrelice{
    margin-top: 10%;
    margin-bottom: 10%;
}


.obavestenjaNaslov{
    font-weight: bold;
    font-size: 2.2rem;
    padding-top: 5%;
}

.obavestenjaNaslov a:link, .obavestenjaNaslov a:visited{
    color: #04443c;
}

.obavestenjaNaslov a:hover{
    text-decoration: none;
}

.naslovUnderlineDiv{
    height: 5px;
}

.linijaUnderlineNaslovPrva{
    max-width: 40%;
    transform: translate(0, -10px);
}

.linijaUnderlineNaslovDruga{
    max-width: 30%;
    transform: translate(0, -10px);
}

/*obavestenja*/


.obavestenjaMeta{
    font-size: 1.2rem;
    padding-top: 20px;
    min-height: 45px;
}

.obavestenjeDatumKlasa{
    font-size: 1.2rem;
    font-style: italic;
    text-align: right;
}

.obavestenjeAutorKlasa{
    font-size: 1.2rem;
    font-style: italic;
    text-align: left;
}

.obavestenjaAutorOverlineKlasa, .obavestenjaDatumOverlineKlasa{
    padding-top: 10px;
}

/*diskusije*/

.diskusijeUnderlineMetaKlasa{
    padding-top: 10px;
}

.diskusijeKomentarKlasa{
    line-height: 2;
    font-size: 1.2rem;
    font-style: italic;
    text-align: left;
}

.diskusijeDrugiKomentarKlasa{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    line-height: 1;
}



/*ankete*/

.diskusijeUnderlineMetaKlasa{
    padding-top: 10px;
}

.anketePitanjeKlasa{
    line-height: 2;
    font-size: 1.2rem;
    font-style: italic;
    text-align: left;
}

.anketeDrugoPitanjeKlasa{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    line-height: 1;
}

/*preporuke*/

.preporukeOcenaKlasa{
    padding-top: 10px;
}

/*middle statistike*/


#statistike{
    height: 100%;
    align-items: center;
}

#middleStatistike{
    background-color: white;
    margin: 0px;
}

@media (min-width: 1100px) {
    #middleStatistike {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

@media (max-width: 1099px) {
    #middleStatistike {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

#kontejnerStatistike{
    /*font-size: 1.5vw;*/
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

.statistikeNaslov{
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    text-decoration: underline;
}

.statistikeMeta{
    text-align: center;
    padding-top: 50px;
}

.statistikeNaslov a:link, .statistikeNaslov a:visited{
    color: #17A2B8;
}

.statistikeChart{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
}

#statistickaLinijicaLomiPravila12, #statistickaLinijicaLomiPravila22{
    overflow: visible;
}

#statistikeDiv{
    align-items: center;
    text-align: right;
    font-size: 1.5vw;
    padding-left: 0px;
}

#statistikeDugmeDiv{
    padding-left: 0px;
}

@media (max-width: 999px){
    #strelicasvgStatistike{
        width: 100px;
        height: 50px;
    }   
}

@media (min-width: 1000px) and (max-width: 1299px){
    #strelicasvgStatistike{
        width: 90px;
        height: 90px;
    }   
}

@media (min-width: 1300px) and (max-width: 1500px){
    #strelicasvgStatistike{
        width: 100px;
        height: 100px;
    }   
}

@media (min-width: 1500px){
    #strelicasvgStatistike{
        width: 120px;
        height: 130px;
    }   
}


/*search box*/
.search{
    height: 75%;
    width: 83%;
    /*padding-top: 20%;*/
}



.searchInput{
    background-color: rgba(255, 255, 255,0.15);
}

.searchInput:focus{
    background-color: rgba(0,0,0,0.2);
}




#headerPrijavaDugmici{
    padding-top: 40px;
}



.ui-button, 
button.ui-button.ui-state-default, 
.ui-button.ui-state-default{
    border-radius: 12px;
    border: 1px solid #a8a8a8;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.0em;
    background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    font-weight:normal;
    color: #373737;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}


.prijava-dugme:hover{
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.registracija-dugme{
    border-radius: 0px 15px 0px 15px;
}

.registracija-dugme:hover{
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-color: white;
    background-color: #0e606d;
    color: white;
}


/*navigacija*/

#ikonicaDiv{
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
}

#menuItems{
    padding-top: 20px;
}

#mainmenuDiv a:hover{
    color: #17A2B8;
} 

#menuDiv {
    max-height: 80px;
}

.mainMenuListItems{
    visibility: hidden;
    opacity: 0;
    transition: .8s linear;
    transition-delay: 1.8s;
    -webkit-transition: .8s linear;
    -webkit-transition-delay: 1.8s;
}

.mainMenuListItemsAnimacija{
    visibility: visible;
    opacity: 1;
    transition: .8s linear;
    transition-delay: 1.8s;
    -webkit-transition: .8s linear;
    -webkit-transition-delay: 1.8s;
}
.dobrodosli{
    min-height: 50px;
    display: flex;
    visibility: visible;
    opacity: 1;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.6rem;
    transition: 1s linear;
    -webkit-transition: 1s linear;
}
.dobrodosliSakriven{
    display: flex;
    min-height: 50px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.6rem;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 1s linear;
    -webkit-transition: 1s linear;
}

#mainMenu a {
    color: white;
}

#svgMenuBorderUpper{
    filter: drop-shadow( 1px 2px 7px #000 );
    /*display: block;
    margin: auto;*/
}

#svgMenuBorderLower{
    filter: drop-shadow( 1px -2px 7px #000 );
}

#mainMenu{
    padding-left: 2%;
}

#logoHolder{
    clear: left;
}

.mainmenu-nav{
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.6rem;
    padding-top: 0px;
    display: inline;
    width: 100%;
    vertical-align: top;
    /*transform: translate(0, -46%);*/
    /*border-bottom: 3px double #17a2b8;
    border-top: 3px double #17a2b8;*/
    margin: 0 auto;
}

.mainmenu-nav li{
    float: left;
    display: inline-block;
}

.mainmenu-nav a{
    display:inline-block;
}

.navbar{
    margin-bottom: 0px;

}

/*dugme za podesavanja*/

#navbar2{
    float: right;
}


.mainmenu-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}

/*body*/

.container{
    /*    margin: 0px;
        padding-left: 0px;
        padding-right: 0px;*/
    width:100%;
    max-width: 100%;
}




/* Stranice sa svim obavestenjima! */

/* Diskusije */

@keyframes slide {
    100% { 
        bottom: 0; 
        opacity: 1;
    }
}

@keyframes donjiSplitterLinijaAnimacija {
    100% {
        stroke-dashoffset: 0%;
    }
}

.tabLink{
    min-height: 46px;
}

.tabSVG{
    overflow: visible !important;
    margin-left: 5px;
}

.tabSVGText{
    font-family: inherit;
    font-size: 12px;
}

.diskusijeNaslov a:link{
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1;
    color: #04443c;
}

.diskusijeNaslov a:hover{
    color: #df8cf2;
}

.naslovSVGKlasa{
    margin-right: 5px;
}

.diskusijeDivKlasa{
    padding-bottom: 70px;
    transition: 1s ease;
}

.diskusijeDivKlasaBlur{
    filter: blur(8px);
}

div[class*="diskusijeDonjiSplitter"], .kontejnerRedDropdownGrupeZaKorisnika{
    padding-bottom: 70px;
}

.nevidljiviDiv{
    opacity: 0;
}

div[class*="diskusijeDonjiSplitterLinijaKlasa"]{
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}

.diskusijeDonjiSplitterLinijaAnimacija{
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    -webkit-animation: donjiSplitterLinijaAnimacija ease-out forwards 2s;
    animation: donjiSplitterLinijaAnimacija ease-out forwards 2s;
}

.diskusijeDivKlasaAnimacija{
    padding-bottom: 70px;
    opacity: 0;
    bottom: -150px;
    -webkit-animation: slide 0.7s forwards;
    animation: slide forwards 0.7s;
}

.diskusijeSplitterLinija, .diskusijeSplitterLinijaMedium{
    overflow: visible !important;
}

.diskusijeMeta{
    font-size: 1.2rem;
    padding-top: 20px;
    min-height: 75px;
}

.diskusijeMetaNeprocitana{
    font-weight: bold;
}

.diskusijeAutorKlasa{
    font-size: 1.2rem;
    font-style: italic;
    text-align: left;
    margin-left: 5px;
}

.diskusijeDatumKlasa{
    font-size: 1.2rem;
    font-style: italic;
    text-align: right;
    margin-right: 5px;
}

@media (min-width: 1510px){
    .diskusijeSplitterMedium{
        display: none;
    }
    div[class*="diskusijeDonjiSplitterMedium"], div[class*="diskusijeDonjiSplitterSmall"]{
        display: none;
    }
}

@media (min-width: 991px) and (max-width: 1509px){
    .diskusijeSplitterLarge{
        display: none;
    }
    div[class*="diskusijeDonjiSplitterLarge"], div[class*="diskusijeDonjiSplitterSmall"]{
        display: none;
    }
}

@media (max-width: 992px){
    div[class*="diskusijeDonjiSplitterLarge"], div[class*="diskusijeDonjiSplitterMedium"], .diskusijeSplitterLarge, .diskusijeSplitterMedium{
        display: none;
    }
}

/* The container must be positioned relative: */
.dropdownDiskusijeIzGrupeDiv {
    position: relative;
    width: 100%;
    padding: 0;
}

.dropdownDiskusijeIzGrupeDiv select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    color: white;
    transition: 1s ease;
    background-color: #17a2b8;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected:hover{
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(23, 162, 184, 0.4)!important;
    color: black;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    color: #fff;
    position: absolute;
    content: "";
    top: 18px;
    right: 10px;
    width: 0px;
    height: 0px;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 10px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    transition: 1s ease;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.3);
}

.select-items:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -15px;
    /*    background-color: white;*/
    filter: blur(20px);
    z-index: -1;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(23, 162, 184, 0.4)!important;
    color: black;
}