#header {
margin:0;
width: 100%;
max-width: 1500px;
height: 130px;
background-color: #A6DFD9;
background-size: cover;
}

#logo{
position: relative;
width: 50%;
top: 10px;
left: 0px;
padding-right: 15px;
padding-left: 20px;
padding-bottom: 15px;
padding-top: 10px;
}

#naslov {
position: relative;
width: 100%;
text-align:center;
font-family:  Verdana, Geneva, sans-serif;
font-size: 40px;
color: gray;
padding-top: 35px;
padding-right: 0px;
padding-left: 0px;
}

/*stil svih pf dugmica*/
.ui-button, 
button.ui-button.ui-state-default, 
.ui-button.ui-state-default{
border-radius: 12px;
border: 1px solid #a8a8a8;
font-family: Verdana, Geneva, sans-serif;
font-size: 1.0em;
background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
font-weight:normal;
color: #373737;
text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}


/*pozicija odjava dugmeta*/
#odjavadugme{                
padding-top: 45px; 
padding-bottom: 30px;
float:right;   
}

/*navigacija*/

#navbar1{
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
}

 /*dugme za podesavanja*/
 
#navbar2{
float: right;
}

.ui-menubutton.ui-widget{
border-radius: 12px;
border: 1px solid #a8a8a8;
font-family: Verdana, Geneva, sans-serif;
font-size: 0.9em;
background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
font-weight:normal;
color: #373737;
text-shadow: 0px 1px 0px rgba(255,255,255,0.7); 
}


.ui-menu-list 
.ui-menuitem 
.ui-menuitem-link 
.ui-menuitem-text{

border: 0px;
color: #373737!important;
font-family: Verdana, Geneva, sans-serif;
font-size: 0.8em;
font-weight: normal !important;
}

.navbar-custom{
background-color: #7E587E;
height: 45px;
}

/* brand i boja slova */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
color: white;
font-family: Verdana, Geneva, sans-serif;
}

/* boja linkova */
.navbar-custom .navbar-nav .nav-link {
color: white;
}

/* boja aktivnih i linkova preko kojih se prelazi misem */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
color: #A6DFD9;
opacity: 1;
}

a.ui-menuitem-text.ui-menuitem-link.ui-corner-all.ui-menu-list.ui-helper-reset{
font-family: Verdana, Geneva, sans-serif;
font-size: 1.0em;
font-weight:normal;
color: #373737;
text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}

/* -- Div-ovi i wrapper-i -- */

div.wrapper{
display:block; 
width:100%; 
margin:0; 
text-align:left;
}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
margin:0 0 20px 0;
padding:0 0 8px 0; 
font-size:22px; 
font-weight:normal; 
font-family: Verdana, Geneva, sans-serif;
border-bottom:1px dashed #DDDDDD;
}
.col1{
color:#D2D2D2; 
background-color:#000000;
}
.col2{
color:#FFFFFF; 
background-color:#1B1B1B;
}
.col2 a{
color:#A6DFD9; 
background-color:#1B1B1B;
font-family:Verdana, Geneva, sans-serif;
}
.col3{
color:#FFFFFF; 
background-color:#FFFFFF;
padding-top: 20px;
}
 /*footer*/
#footer {
display:block;
position:initial;
bottom:0;
width:100%;
height:150px;   /* Visina footer-a */
background:#A6DFD9;

}



.ui-inputfield .ui-inputtext .ui-widget .ui-state-default .ui-corner-all{
width: 100%;
font-family:Verdana, Geneva, sans-serif;
}
.ui-widget-content .ui-panelgrid .ui-panelgrid-cell {
border: none!important;
border: none !important;
border-style: none !important;
border-width: 0px !important;
font-family:Verdana, Geneva, sans-serif;

}
.ui-button-text .ui-c{
font-family:Verdana, Geneva, sans-serif;
font-size: 20px;    
}

#prikazvesti{
margin-top: 30px;
margin-bottom: 30px;
margin-left: 40px;
}

#dugmeobjavivest{
border-radius: 6px;
border: 1px solid #a8a8a8;
font-family: Verdana, Geneva, sans-serif;
font-size: 1.0em;
background: #c4c4c4/* -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)))*/;
font-weight:bold;
color: #373737;
margin-top: 30px;
}



/* DATASCROLLER PANEL */


.ui-datascroller
.ui-datascroller-inline
.ui-datascroller-item
.ui-datascroller-list
.ui-datascroller-content
.ui-widget-content
.ui-corner-bottom{
width: 820px;
}

.ui-panelgrid.ui-widget{
width: 100%;
margin-top:0px; 
padding: 0px;
border:0px;

}

.ui-datascroller-header.ui-widget-header.ui-corner-top{
    width: 100%;
    color: #333;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background: #c4c4c4; /*-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));*/
}

.ui-panel.ui-panel-content{

    border: 0;
    background: 0;
    padding: 0px;
}



/*KARUSEEEL*/

.ui-carousel {
    position: relative;
    display: inline-block;
    padding: 1px;
    width:500px;
}

/* header */

.ui-carousel .ui-carousel-header {
    margin: 0 1px;
    height: 40px;
    
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    color: #333;
    background: #F2F2F2;
}

.ui-link{
    font-family:Verdana, Geneva, sans-serif;
    font-size: 0.6em;
    font-weight: normal;
}

.ui-carousel .ui-carousel-header .ui-carousel-header-title {
    display: inline-block;
    width: 70%;
    padding-top: 2px;
    overflow: hidden;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    background: #F2F2F2;
}

.ui-carousel .ui-carousel-dropdown {
    float: right;
    margin: 0px 10px;
    background-image: none;
  
}

.ui-carousel .ui-carousel-dropdown option {
    background-image: none;
    border:0 none;
    box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-carousel .ui-carousel-button {
    float: right;
    margin: 2px;
}

.ui-carousel .ui-carousel-page-link {
    float: left;
    margin: 0 2px;
}

.ui-carousel .ui-carousel-page-link, 
.ui-carousel .ui-carousel-button {
    cursor: pointer;
}

.ui-carousel .ui-carousel-page-links {
    margin: 0px 9px;
    margin-top: 1px;
    display: inline-table;
    float: right;
}

/* body */
.ui-carousel .ui-carousel-viewport ul {
    list-style: none outside none;
    margin: 0;
    padding:0;
    position: absolute;
    width: 32000px;
    left: 0;
}

.ui-carousel .ui-carousel-viewport ul li {
    margin: 1px;
    padding: 0;
    float: left;
}

.ui-carousel .ui-carousel-viewport {
    overflow: hidden;
    position: relative;
    border: 0;
}

.ui-carousel .ui-carousel-vertical-viewport ul li {
    float: none !important;
}

.ui-carousel .ui-carousel-vertical-viewport ul {
    width: auto !important;
}

.ui-carousel .ui-carousel-footer {
    margin: 1px 1px 0px 1px;
    height: 16px;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
}


/**tabele u panel gridu*/
.pojedinacnavest.ui-panelgrid>*>tr,
.pojedinacnavest.ui-panelgrid .ui-panelgrid-cell {
    border: 0px;
    background-color: #F2F2F2;
    
}

.frenulum.ui-panelgrid>*>tr,
.frenulum.ui-panelgrid .ui-panelgrid-cell {
    border: 0px;
    background-color: #F2F2F2;
    
}

/*datagrid na grupi*/
.ui-datagrid-header.ui-widget-header.ui-corner-top{
    background: #F2F2F2;
    background: #F2F2F2;
    color: #333;
    font-weight: bold;
    text-shadow: none;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 0.9em;
}
.ui-paginator.ui-paginator-top.ui-widget-header{
   
    background: #F2F2F2;
    color: #333;
    font-weight: normal;
    text-shadow: none;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 0.8em; 
}
.ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom{
    background: #F2F2F2;
    color: #333;
    font-weight: normal;
   
    text-shadow: none;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 0.8em; 
}

